ESPAlarmController/pio
ESPAlarmController/vscode/.browse.c_cpp.db*
ESPAlarmController/vscode/c_cpp_properties.json
ESPAlarmController/vscode/launch.json
ESPAlarmController/vscode/ipch
ESPContactSensor/pio
ESPContactSensor/vscode/.browse.c_cpp.db*
ESPContactSensor/vscode/c_cpp_properties.json
ESPContactSensor/vscode/launch.json
ESPContactSensor/vscode/ipch
include/config.h
