* {
    box-sizing: border-box;
}

body {
    margin: 0;
    border: 0;
    padding: 0;
}

.display-group {
    float: left;
    margin: 0;
    border: 0;
    padding: 1em;
}

button {
    margin:  0.5em;
}

#alarm-status {
    font-weight: bold;
    background-color:rgb(215, 230, 248);
    padding: 0.5em;
    text-align: center;
}

th {
    padding: 0.5em;
    text-align: left;
}

td {
    padding: 0.5em;
    text-align: left;
    background-color:rgb(215, 230, 248);
}

fieldset {
    padding: 0.8em;
}

#events-list {
    float: none;
    margin: 0;
    border: 0;
    padding: 1em;
}